.header{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__tel{
    text-decoration: none;
    color: $grey;
    transition:.9s;
    &:hover{
      color: $orange;
      transition: .9s; 
    }
  }
}

.logo{
  background-image: url(../../../img/logo.svg);
  background-repeat: no-repeat;
  display: block;
  width: 120px;
  height: 32px;
  margin-right: 120px;
}
.nav{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  &-item{
    margin-right: 48px;
  }
  &-link{
    text-decoration: none;
    color: $grey;
    transition:.9s;
    &:hover{
      color: $orange;
      transition: .9s; 
    }
  }
}
// yarn run build