@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

:root {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  background-color: darkmagenta;
}
