@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

:root {
  font-size: 16px;
}

body {
  font-family: 'Jost', sans-serif;
  color: $grey;
  overflow-x: hidden;
}

.title {
  font-family: 'Cormorant', serif;
  font-size: 5rem;

  span {
    font-style: italic;
  }
}

.btn {
  color: $white;
  background-color: $orange;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.3rem 2.68rem;
  border-radius: 2rem;
  letter-spacing: 0.075rem;
  box-shadow: 0px 10px 11.18px 1.82px rgba(207, 92, 13, 0.2);
}

.ml {
  margin-left: 7.6rem;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-text {
    flex: 0 0 40%;
    padding-top: 200px;

    &_description {
      font-size: 1.12rem;
      line-height: 1.51;
      margin-top: 60px;
      margin-bottom: 77px;
    }
  }

  &-visual {
    border: solid 1px rgba($grey, $alpha);
    border-radius: 100%;
    padding: 53px;
    position: relative;

    &__image {
      border: solid 1px rgba($grey, $alpha);
      border-radius: 100%;
      padding: 21px;

      img {
        box-shadow: 15px 48px 42px 0px rgba($grey, $alpha);
        border-radius: 100%;
      }
    }
    &__btn{
      background-color: transparent;
      border: none;
      color: rgba($grey, 0.8);
      text-align: left;
      position: absolute;
      span{
        color: rgba($grey, 1);
        display: block;
        margin-top: 6px;
      }
      &::before{
        content: '';
        display: block;
        width: 11px;
        height: 11px;
        border-radius: 100%;
        background-color: $grey;
        box-shadow: 0 0 0 4px #fff, 0 0 0 5px $grey;
        position: absolute;

      }
      &:focus{
        outline: none;
        &::before{
          background-color: $orange;
          box-shadow: 0 0 0 4px #fff, 0 0 0 5px $orange;
        }
      }
    }
    &__01{
      left: 58px;
      top: 45px;
      &::before{
        left: 91px;
         top: 22px;
      }
    }
    &__02{
      right: 0px;
      top: 190px;
      &::before{
        right: 92px;
        top: 17px;
      }
    }
    &__03{
      right: 182px;
      bottom: -7px;
      &::before{
        right: 92px;
        top: 17px;
      }
    }
  }
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;;
}

.section-main {
  background-image: url(../img/bg-1.png);
  block-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding-bottom: 208px;
  &__image{
    position: absolute;
  }
  &__tomato{
    right: 121px;
    bottom: 140px;
  }
  &__papper{
    top: 40.2%;
    left: 0;
  }
  &__avocado{
    top: 48px;
    right: 0;
  }
  &__cucumber{
    top: 0px;
    right: 60.5%;
  }
  &__beans{
    bottom: 175px;
    left: 0;
  }
  
}
.section-stock{
  background-image: url(../img/bg-2.png);
  block-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__text{
    max-width: 690px;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 3.75rem;
  }
}


