.footer {
	border-top: solid 1px $grey;
	padding-top: 77px;
  padding-bottom: 60px;

	.logo {
		width: 179px;
		height: 48px;
	}
}

.box-footer {
	display: flex;
	justify-content: space-between;

	.box-footer-item{
		display: flex;
		justify-content: space-between;
		// flex: 0 0 66,4%;
		flex: 0 0 66.4%;
	}
	.box-footer-list {
		font-size: 1.12rem;
		list-style-type: none;

		&__item {
			margin-bottom: 1.62rem;
		}

		&__tel {
			font-size: 1.68rem;
			margin-bottom: 2.06rem;
		}

		&__link {
			color: $grey;
			opacity: 0.6;
			text-decoration: none;

			&:hover {
				opacity: 1;
			}
		}
	}
}

.box-footer-social {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__link {
		width: 48px;
		height: 48px;
		border: solid 2px $grey;
		border-radius: 100%;
		background-repeat: no-repeat;
		display: block;
		background-position: center center;
		opacity: 0.8;
		transition: .2s ease;
	}

	&__vk {
		background-image: url(../../../img/vk.svg);
		background-size: 23px 18px;
	}

	&__inst {
		background-image: url(../../../img/inst.svg);
		background-size: 18px 18px;
	}

	&__fb {
		background-image: url(../../../img/fb.svg);
		background-size: 18px 18px;
	}
}

.box-copyright {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
	color: $grey;
	opacity: 0.6;

	&__link {
		text-decoration: none;
		color: $grey;
		opacity: 0.6;
		border-bottom: 1px solid $grey;
	}
}